
@import'../../assets/style/variable';
@import '../../assets/style/font-icon/style.css';

html {
    scroll-behavior: smooth;
}

.homePage{
	scroll-behavior: smooth;
}

/* Video Banner Start */
.videoBanner{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	min-height: 500px;
	p{
		display: none;
	}
}
.videoBanner iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Video Banner End */


/* PromoPan Style Start */
.promoPan{
	background: url(../../assets/images/full-diamond.jpg) 50% 0 no-repeat;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
	.diamondTop{
		h2{
			margin-bottom: 10px;
		}
		p{
			font-size: 20px;
			line-height: 24px;
			color: $titleColor;
			margin-bottom: 55px;
		}
	}
	.diamondBg{
		position: relative;
		height: 810px;
	}
	.featureBox{
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: left;
		li{
			border-radius: 5px;
			padding: 30px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			background-color: $white;
			width: 200px;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 18px;
			line-height: 22px;
			font-family: $font2;
			text-transform: uppercase;
			transition: all .8s ease;
			span, div{
				float: left;
			}
			div{
				width: 50%;
				p{
					margin-bottom: 0;
				}
			}
			.fontIcon{
				font-size: 28px;
				margin-right: 18px;
				position: relative;
				top: 6px;
				color: $iconColor;
			}
			&.manage{
				top: 230px;
				left: -220px;
			}
			&.share{
				top: 230px;
				left: auto;
				right: -220px;
			}
			&.online{
				top: auto;
				bottom: 210px;
				left: -380px;
			}
			&.add{
				top: auto;
				bottom: 210px;
				left: auto;
				right:-380px;
			}
		}
	}
	.btn{
		margin-top: 30px;
	}
}

.promoAnimation{
	.promoPan{
		.featureBox{
			li{
				&.manage{
					left: 120px;
				}
				&.share{
					right: 120px;
				}
				&.online{
					left: 280px;
				}
				&.add{
					right: 280px;
				}
			}
		}
	}
}
/* PromoPan Style End */

.coreFeaturePan{
	padding-top: 80px;
	background: url(../../assets/images/core-feature-bg.png) 50% 100% repeat-x $lightBgColor;
	border-bottom: solid 1px $borderColor;
	.nav-tabs{
		border-bottom: 0;
		justify-content: center;
		.nav-item{
			margin:0 10px;
			display: inline-block;
			vertical-align: top;
			.nav-link{
				display: inline-block;
				border: solid 1px $borderColor;
				border-radius: 5px;
				padding: 90px 18px 40px;
				width: 163px;
				width: calc(75px + 6vw);
				height: 195px;
				text-align: center;
				font-size: 17px;
				font-size: calc(10px + 0.5vw);
				line-height: 24px;
				line-height: calc(18px + 0.5vw);
				font-family: $font2;
				color: $txtColor;
				position: relative;
				p{
					margin-bottom: 0;
				}
				&:before{
					font-family: 'gems' !important;
					font-size: 35px;
					position: absolute;
					top: 40px;
					left: 50%;
					transform: translateX(-50%);
					color: $blue;
				}
				&.register-member{
					&:before{
						content: "\e907";
						font-size: 30px;
					}
				}
				&.manage-account{
					&:before{
						content: "\e904";
					}
				}
				&.create-gems{
					&:before{
						content: "\e905";
					}
				}
				&.share-location{
					&:before{
						content: "\e908";
					}
				}
				&.explore-world{
					&:before{
						content: "\e901";
					}
				}
				&.trusted-network{
					&:before{
						content: "\e903";
					}
				}
				&.add-friends{
					&:before{
						content: "\e900";
					}
				}
				&.active,
				&:focus,
				&:hover{
					background-color: $blue;
					color: $white;
					&:before{
						color: $white;
					}
				}
			}
		}


	}
	.tab-content{
		padding-top: 120px;
		padding-bottom: 120px;
		.tabTitle{
			font-size: 38px;
			line-height: 42px;
			font-weight: 500;
		}
		.nav-bodytab{
			display: none;
		}
		.col,
		[class*="col-"]{
			margin-top: auto;
			margin-bottom: auto;
			p{
				margin-bottom: 20px;
			}
			.btn{
				background-color: $titleColor;
				text-transform: uppercase;
				margin-top: 30px;
			}
			.coreMobileWrap{
				
				//display: inline-block;
				img{
					display: inline-block;
				}
				.yellowTip{
					width: 15px;
					height: 15px;
					background-color: $yellow;
					border-radius: 50%;
					position: absolute;
					top: 210px;
					right: 152px;
					cursor: pointer;
				}
				.coreMobileTips{
					position: absolute;
					top: 181px;
					right: 178px;
					background-color: $white;
					color: $txtColor;
					border-radius: 5px;
					padding: 12px 30px 12px 20px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
					font-size: 18px;
					line-height: 48px;
					font-weight: 600;
					&:after{
						left: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(255, 255, 255, 0);
						border-left-color: #fff;
						border-width: 15px;
						margin-top: -15px;
					}
					span{
						background: $blue4;
						color: $white;
						border-radius: 50%;
						width: 48px;
						height: 48px;
						display: inline-block;
						vertical-align: top;
						font-size: 20px;
						line-height: 48px;
						text-align: center;
						margin-right: 15px;
					}
				}
			}
		}

	}
}


.gemsWeek{
	padding-top: 100px;
	padding-bottom: 100px;
	h2{
		margin-bottom: 65px;
	}
	.sliderPan{
		position: relative;
		.slideItem{
			padding: 10px;
			.slideContent{
				max-width: 237px;
				margin: 0 auto;
			}
			.imgPan{
				margin: 0 auto 22px;
				position: relative;
				border-radius: 5px;
				.gemsCount{
					position: absolute;
					bottom: 8px;
					right: 8px;
					background: $white;
					background: url(../../assets/images/small-gems.png) 8px 6px no-repeat $white;
					padding:8px 12px 8px 29px;
					font-size: 13px;
					line-height: 1;
					font-weight: 500;
					border-radius: 3px;
				}
			}
			.txtPan{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				h4{
					font-size: 17px;
					line-height: 20px;
					color: $titleColor;
					margin-bottom: 4px;
					font-weight: 600;
				}
				p{
					font-size: 17px;
					line-height: 20px;
					color: $lightTxtColor;
					margin-bottom: 0;
				}
			}
			.viewPan{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				text-align: right;
				p{
					color: $black;
					margin-bottom: 2px;
				}
				.flag{
					width: 27px;
					height: 16px;
					float: right;
					border: solid 1px $borderColor;
					&.india{
						background: url(../../assets/images/flag-india.gif) 0 0/100% no-repeat;
					}
				}
			}

		}
		.slick-arrow{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			&:before{
				display: none;
			}
			&:after{
				font-family: FontAwesome;
				position:absolute;
				left:0;
				top:0;
				font-size: 40px;
				color: $titleColor;
			}
			&.slick-prev{
				left: -10px;
				&:after{
					content: "\f104";
				}
			}
			&.slick-next{
				right: -15px;
				&:after{
					content: "\f105";
				}
			}
		}
	}
}

.happyClientsPan{
	background: $lightBgColor2;
	padding-top: 100px;
	padding-bottom: 100px;
	.clientSliderPan{
		background-color: $blue2;
		border-radius: 5px;
		padding: 60px;
		width: 550px;
		height: 550px;
		margin: 0 auto;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		.slideItem{
			text-align: center;
			background: url(../../assets/images/quote1.png) 20px 65px no-repeat;
			.clientImg{
				width: 120px;
				height: 120px;
				overflow: hidden;
				border-radius: 50%;
				margin: 0 auto 28px;
				img{
					max-width: 100%;
					height: 120px;
					
				}
			}
			.starPan{
				margin-bottom: 25px;
				i{
					font-size: 22px;
					color: $white;
					margin: 0 2px;
				}
			}
			.clientTxt{
				font-size: 15px;
				line-height: 28px;
				font-weight: 300;
				color: $white;
				background: url(../../assets/images/quote2.png) 99% 100% no-repeat;
				.btn{
					clear: both;
					background-color: $blue3;
					color: $white;
					padding: 10px 40px;
					text-transform: uppercase;
					margin-top: 15px;
					letter-spacing: 2px;
					font-size: 14px;
				}
			}
		}
		.slick-arrow{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			width: 75px;
			height: 75px;
			background-color: $white;
			border-radius: 50%;
			z-index: 99;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			&:before{
				display: none;
			}
			&:after{
				font-family: FontAwesome;
				position:absolute;
				left:50%;
				top:50%;
				transform: translate(-50%, -50%);
				font-size: 40px;
				color: $titleColor;
			}
			&.slick-prev{
				left: -98px;
				&:after{
					content: "\f104";
				}
			}
			&.slick-next{
				right: -98px;
				&:after{
					content: "\f105";
				}
			}
		}
	}
}

.logoPan{
	padding-top: 50px;
	padding-bottom: 50px;

		img{
			filter: gray;
			-webkit-filter: grayscale(1);
			filter: grayscale(1);
			opacity: 0.7;
			transition: all .4s ease;
			max-width: 120px;
			&:hover{
				-webkit-filter: grayscale(0);
				filter: none;
				opacity: 10;
			}
		}
		a{
			padding: 0 10px;
			display: inline-block;
			vertical-align: middle;
		}
		.slick-track{
			display: flex;
			.slick-slide {
				display: flex;
				height: auto;
				align-items: center;
				justify-content: center;
			}
		}
		.slick-arrow{
			&.slick-prev{
				left: 0;
			}
			&.slick-next{
				right: 0;
			}
		}
	
}

.questionPan{
	background: $darkBlue;
	padding-top: 100px;
	padding-bottom: 100px;
	.tabTopNav{
		display: block;
	}
	.tabBodynav{
		display: none;
	}
	.container{
		max-width: 1145px;
		h2{
			color: #fff;
		}
		.nav{
			.nav-item{
				.nav-link{
					padding: 20px;
					border-radius: 2px;
					position: relative;
					color: $white;
					p{
						margin-bottom: 0;
					}
					&:after{
						font-family: FontAwesome;
						position:absolute;
						right:25px;
						top:50%;
						transform: translateY(-50%);
						font-size: 20px;
						color: $white;
						content: "\f105";
						display: none;
					}
					&.active{
						background-color: $blue2;
						&:after{
							display: block;
						}
					}
				}
			}
		}
		.accordion{
			.card{
				background-color: transparent;
				border: 0;
				border-radius: 0;
				.card-header{
					border: solid 1px $blue2;
					padding: 20px;
					margin-bottom: 0;
					color: $white;
					font-size: 16px;
					line-height: 23px;
					margin-bottom: 20px;
					cursor: pointer;
					p{
						margin-bottom: 0;
					}
				}
				.card-body{
					border: solid 1px $blue2;
					color: $white;
					margin-bottom: 20px;
					margin-top: -21px;
				}
			}
		}
		.btn{
			padding-left: 50px;
			padding-right: 50px;
			margin-top: 40px;
		}
	}

	.tab-pane{
		&.fade:not(.show){
			display: none;
		}
	}
}

.newsPan{
	background-color: $lightBgColor3;
	padding-top: 100px;
	padding-bottom: 100px;
	.container{
		position: relative;	
	}
	.viewAllLink{
		text-transform: uppercase;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.slideItem{
		padding:0 10px;
		.slideImg{
			margin-bottom: 20px;
			img{
				width: 410px;
				height: 250px;
			}
		}
		.txtPan{
			p{
				margin-bottom: 10px;
				&.date{
					font-size: 15px;
					color: $lightTxtColor;
					margin-bottom: 5px;
				}
			}
		}
	}
	.slick-arrow{
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		&:before{
			display: none;
		}
		&:after{
			font-family: FontAwesome;
			position:absolute;
			left:0;
			top:0;
			font-size: 40px;
			color: $titleColor;
		}
		&.slick-prev{
			left: -10px;
			&:after{
				content: "\f104";
			}
		}
		&.slick-next{
			right: -15px;
			&:after{
				content: "\f105";
			}
		}
	}
}