@import 'variable';
@import 'font-icon/style.css';

// @media (min-width: 576px) { sm }
// @media (min-width: 768px) { md }
// @media (min-width: 992px) { lg }
// @media (min-width: 1200px) { xl }


// Start 1319px to 1200px
@media screen and (max-width:1319px) and (min-width:1200px) {

	.howWorksContainer{
		padding-top: 110px;
	}
	

}
// End 1319px to 1200px

// Start 1199px to 992px
@media screen and (max-width:1199px) and (min-width:992px) {

	.header{
		.logo{
			width: 13%;
		}
		.topNav{
			li{
				margin: 0 4px;
			}
		}
		.toggleMenu{
			margin-left: 6px;
			i{
				font-size: 20px;
			}
			.dropMenu{
				top: 60px;
			}
		}
	}

	.promoPan{
		.featureBox{
			li{
				&.manage{
					left: 3%;
				}
				&.share{

					right: 3%;
				}
				&.online{
					left: 20%;
				}
				&.add{
					right: 20%;
				}
			}
		}
	}

	.coreFeaturePan{
		.nav-tabs{
			.nav-item{
				.nav-link{
					padding: 82px 6px 0;
					width: 150px;
					width: calc(58px + 6vw);
					height: 165px;
					font-size: 17px;
					font-size: calc(8px + 0.5vw);
					line-height: 222px;
					line-height: calc(12px + 0.5vw);
					&:before{
						font-size: 30px;
						top: 40px;
					}
				}
			}
		}
	}

	.howWorksPage{
		.line{
			width: 100%;
		}
	}

	.stepBox{
		&.explore,
		&.create,
		&.add{
			&::before{
				background: none;
				border-left: solid 1px $blue6;
				width: 1px;
				height: 96px;
				top: -96px;
				left: 50%;
				transform: translateX(-50%);

			}
			&::after{
				background: none;
				border-left: solid 1px $blue6;
				width: 1px;
				height: 96px;
				bottom: -96px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
	}

	.howWorksContainer{
		padding-top: 80px;
		.startedImg,
		.creatImg,
		.exploreImg,
		.shareImg{
			padding-left: 0;
			padding-right: 0;
		}
		.startedTxt,
		.exploreTxt,
		.shareTxt,
		.creatTxt{
			padding-top: 0;
		}
		.exploreCol,
		.shareCol,
		.createCol,
		.addCol{
			text-align: center;
			padding: 88px 120px;
		}
	}

	.registerForm {
    	padding: 20px;
	}

}
// End 1199px to 992px

// Start 991px to 768px
@media screen and (max-width:991px) and (min-width:768px) {

	body{
		font-size: 13px;
	}

	h2{
		font-size: 38px;
		line-height: 50px;
		margin-bottom: 40px;
	}
	h3{
		font-size: 25px;
		line-height: 38px;
	}
	h4{
		font-size: 22px;
		line-height: 30px;
	}

	.btn {
		padding: 12px 22px;
		font-size: 14px;
	}

	.header{
		padding-top: 20px;
		padding-bottom: 20px;
		.container-fluid{
			padding-left: 10px;
			padding-right: 10px;
		}
		.logo{
			width: 11%;
		}
		.topNav{
			li{
				margin: 0 8px;
				font-size: 13px;
			}
		}
		.toggleMenu{
			margin-left: 6px;
			margin-top: 5px;
			i{
				font-size: 20px;
			}
			.dropMenu{
				top: 51px;
				width: 200px;
				padding: 20px 20px;
				ul{
					li{
						font-size: 12px;
					}
				}
			}
		}
	}

	.promoPan{
		background: none;
		padding-top: 60px;
		padding-bottom: 60px;
		.diamondTop{
			p{
				margin-bottom: 40px;
			}
		}
		.diamondBg{
			height: 815px;
			height: calc(345px + 48vw);
			background: url(../../assets/images/diamond.jpg) 50% 45px/90% no-repeat;
		}
		.featureBox{
			li{
				padding: 20px;
				width: 180px;
				font-size: 16px;
				line-height: 20px;
				.fontIcon{
					font-size: 26px;
					margin-right: 18px;
				}
				&.manage{
					top: 22%;
					left: 3%;
				}
				&.share{
					top: 22%;
					right: 3%;
				}
				&.online{
					bottom: 45%;
					left: 12%;
				}
				&.add{
					bottom: 45%;
					right: 12%;
				}
			}
		}
		.btn{
			margin-top: 5px;
		}
	}

	.appBg {
		img{
			max-width: 18%;
		}
	}

	.coreFeaturePan{
		padding-top: 70px;
		.nav-tabs{
			.nav-item{
				margin:0 5px;
				.nav-link{
					padding: 70px 6px 0;
					width: 150px;
					width: calc(48px + 6vw);
					height: 125px;
					font-size: 17px;
					font-size: calc(8px + 0.5vw);
					line-height: 222px;
					line-height: calc(12px + 0.5vw);
					&:before{
						font-size: 24px;
						top: 33px;
					}
					&.register-member{
						&:before{
							font-size: 22px;
						}
					}
				}
			}
		}
		.tab-content{
			padding-top: 60px;
			padding-bottom: 60px;
			.nav-bodytab{
				display: none;
			}
			.col,
			[class*="col-"]{
				margin-top: auto;
				margin-bottom: auto;
				p{
					margin-bottom: 20px;
				}
				.btn{
					background-color: $titleColor;
					text-transform: uppercase;
					margin-top: 30px;
				}
				.coreMobileWrap{
					width: 240px;
					height: 460px;
					margin-left: auto;
					img{
						width: 100%;
					}
					.coreMobileTips{
						padding: 8px 10px 8px 10px;
						text-align: left;
						top: 192px;
						span{
							width: 35px;
							height: 35px;
							font-size: 16px;
							line-height: 35px;
							margin-right: 10px;
						}
						font-size: 16px;
						line-height: 35px;
					}
				}
			}

		}
	}

	.gemsWeek{
		padding-top: 70px;
		padding-bottom: 70px;
		h2{
			margin-bottom: 40px;
		}
		.sliderPan{
			.slideItem{
				.txtPan{
					display: inline-block;
					vertical-align: top;
					width: 50%;
					h4{
						font-size: 14px;
						line-height: 18px;
					}
					p{
						font-size: 13px;
						line-height: 17px;
					}
				}
				.viewPan{
					p{
						font-size: 13px;
						line-height: 17px;
					}
				}

			}
		}
	}

	.happyClientsPan{
		padding-top: 70px;
		padding-bottom: 70px;
	}
		
	.questionPan{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.newsPan{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.footerWrap{
		padding-top: 50px;
		padding-bottom: 30px;
		h4{
			font-size: 18px;
			line-height: 20px;
			background-size: 20px;
			padding-left: 30px;
			margin-bottom: 15px;
		}
		h5{
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 12px;
		}
		p{
			font-size: 12px;
			line-height: 20px;
		}
		ul{
			font-size: 12px;
			line-height: 15px;
		}
		.socialIcon{
			i{
				font-size: 15px;
			}
		}
	}

	.claimBannerPan{
		.container{
			h2{
				font-size: 32px;
			}
			.claimList{
				padding-bottom: 30px;
				li{
					.claimIcon1,
					.claimIcon2,
					.claimIcon3{
						width: 50px;
						height: 50px;
						background-size: 35px;
					}
					.claimTxt{
						width: calc(100% - 70px);
						line-height: 18px;
					}
				}
			}
		}
	}

	.howWorksContainer{
		padding-top: 80px;
	}

	.howWorksPage{
		position: relative;
		.commonBanner{
			background-size: 100%;
			.container{
				background-size: 100%;
				min-height: 265px;
				height: calc(150px + 15vw);
			}
		}
		.line{
			width: 80%;
			max-height: 420px;
		}
	}



}
// End 991px to 768px


// Start 767px to 300px
@media screen and (max-width:767px) and (min-width:300px) {

	body{
		font-size: 13px;
	}

	h2{
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 40px;
	}
	h3{
		font-size: 25px;
		line-height: 32px;
	}
	h4{
		font-size: 22px;
		line-height: 30px;
	}

	.btn {
		padding: 12px 22px;
		font-size: 14px;
	}
	.commonBanner{
		h2{
			font-size: 40px;
			line-height: 45px;
		}
	}


	.header{
		padding-top: 10px;
		padding-bottom: 10px;
		position: static;
		.container-fluid{
			padding-left: 10px;
			padding-right: 10px;
		}
		.logo{
			width: 85px;
		}
		figure{
			&.logoDark{
				display: block;
			}
			&.logoLight{
				display: none;
			}
		}
		.topNav{
			display: none;
		}
		.toggleMenu{
			i{
				font-size: 20px;
				cursor: pointer;
			}
			.dropMenu{
				display: none;
			}
			&.mobileMenu{
				display: block;
			}
			&.desktopMenu{
				display: none;
			}
		}
		&.providerHeader {
			.topNav{
				display: none !important;
			}
			.desktopMenu{
				display: none !important;
			}
			.userPan{
				.userImg{
					width: 26px;
					height: 26px;
					margin-top: 4px;
				}
			}
		}
	}

	.scrolled{
		.header{
			.topNav{
				display: none;
			}
			.toggleMenu{
				&.mobileMenu{
					display: block;
				}
				&.desktopMenu{
					display: none;
				}
			}
		}
	}

	.promoPan{
		background: none;
		padding-top: 40px;
		padding-bottom: 40px;
		.diamondTop{
			h2{
				margin-bottom: 10px;
			}
			p{
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 30px;
			}
		}
		.diamondBg{
			height: auto;
			background: url(../../assets/images/blank-diamond.png) 50% 50px/55% no-repeat;
		}
		.featureBox{ 
			text-align: center;
			padding-top: 30px;
			padding-top: calc(10px + 2vw);
			padding-bottom: 50px;
			padding-bottom: calc(30px + 10vw);
			li{
				padding: 4%;
				width: 42%;
				position: static;
				font-size: 16px;
				font-size: calc(10px + 1vw);
				line-height: 1.2;
				display: inline-block;
				vertical-align: top;
				margin: 10px;
				text-align: left;
				.fontIcon{
					font-size: 25px;
					font-size: calc(17px + 1vw);
					margin-right: 20px;
					margin-right: calc(6px + 1vw);
					top: 50%;
					transform: translateY(50%);
				}
			}
		}
		.btn{
			margin-top: 10px;
		}
	}

	.appBg{
		padding-top: 40px;
		padding-bottom: 40px;
		span{
			display: block;
			margin-right: 0;
			margin-bottom: 15px;
		}
		img{
			max-width: 100px;
		}
	}

	.coreFeaturePan{
		padding-top: 30px;
		background: none;
		border-bottom: 0;
		.tabTopNav {
			display: none;
		}
		.tab-content{
			padding-top: 0;
			padding-bottom: 0;
			margin-left: -15px;
			margin-right: -15px;
			overflow-x: hidden;
			.nav-bodytab{
				display: block;
				.nav-item{
					.nav-link{
						width: 100%;
						display: inline-block;
						border-bottom: solid 1px $borderColor;
						padding: 30px 20px 30px 80px;
						border-radius: 0;
						font-size: 17px;
						font-size: calc(13px + 1vw);
						line-height: 24px;
						line-height: calc(16px + 1vw);
						font-weight: 500;
						color: $black;
						position: relative;
						p{
							margin-bottom: 0;
						}
						&:before{
							font-family: 'gems' !important;
							font-size: 35px;
							position: absolute;
							top: 50%;
							left:30px;
							transform: translateY(-50%);
							color: $blue;
						}
						&.register-member{
							&:before{
								content: "\e907";
								font-size: 30px;
							}
						}
						&.manage-account{
							&:before{
								content: "\e904";
							}
						}
						&.create-gems{
							&:before{
								content: "\e905";
							}
						}
						&.share-location{
							&:before{
								content: "\e908";
							}
						}
						&.explore-world{
							&:before{
								content: "\e901";
							}
						}
						&.trusted-network{
							&:before{
								content: "\e903";
							}
						}
						&.add-friends{
							&:before{
								content: "\e900";
							}
						}
						&.active,
						&:focus,
						&:hover{
							background-color: $blue;
							color: $white;
							border-bottom: 0;
							&:before{
								color: $white;
							}
						}
					}
				}
			}

			.tab-pane{
				padding-top: 10px;
				padding-bottom: 20px;
				&.active{
					background-color: $blue;
					color: $white;
					border-bottom: solid 1px $white;
				}
				.tabImgPan{
					text-align: center !important;
					padding-bottom: 20px;
					.coreMobileWrap{
						width: 240px;
						height: 460px;
						margin: 0 auto;
						position: relative;
						.yellowTip{
							right: 137px;
						}
						.coreMobileTips{
							position: absolute;
							top: 233px;
							right: auto;
							left: 96px;
							transform: translateX(-50%);
							width: 100%;
							text-align: left;
							padding: 10px 20px 10px 10px;
							font-size: 16px;
							line-height: 30px;
							&:after{
								top: auto;
								bottom: 100%;
								left: 50%;
								border-color: rgba(255, 255, 255, 0);
								border-bottom-color: #ffffff;
								border-width: 14px;
								margin-left: -14px;
							}
							span{
								width: 30px;
								height: 30px;
								font-size: 16px;
								line-height: 30px;
								margin-right: 15px;
							}
						}
					}
				}
				.tabTxtWrap{
					padding: 20px 40px;
					.btn{
						margin-top: 0px;
					}
				}
			}
		}
	}

	.gemsWeek {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.happyClientsPan {
		padding-top: 50px;
		padding-bottom: 30px;
		background-color: $blue2;
		color: $white;
		h2{
			color: $white;
		}
		.clientSliderPan{
			border-radius: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			box-shadow: none;
			.slideItem{
				background-size: 50px;
				padding-left: 25px;
				padding-right: 25px;
				.clientTxt{
					background-size: 50px;
				}
			}
			.slick-arrow{
				width: 20px;
				height: 30px;
				background-color: transparent;
				border-radius: 0;
				box-shadow: none;
				&.slick-next{
					right: 0;
				}
				&.slick-prev{
					left: 0;
				}
			}
		}
	}

	.logoPan{
		display: block !important;
		padding-top: 35px;
		padding-bottom: 35px;
		text-align: center;
		a{
			margin: 0;
		}
		img{
			display: inline-block;
			margin: 20px 7%;
		}
	}

	.questionPan {
		padding-top: 35px;
		padding-bottom: 30px;
		h2{
			margin-bottom: 35px;
		}
		.tabTopNav{
			display: none;
		}
		.btn{
			margin-top: 10px;
		}
		.tabBodynav{
			display: block;
			margin-left: -20px;
			margin-right: -20px;
			.nav-item{
				.nav-link{
					background: none;
					font-size: 18px;
					border-bottom: solid 1px $blue;
					&:after{
						display: block !important;
						font-size: 25px !important;
					}
					&.active{
						background-color: transparent !important;
						border-bottom: solid 1px $darkBlue;
						&:after{
							content: "\f107" !important;
							font-size: 25px;
						}
					}
				}
			}
		}
		.tab-content{
			padding-left: 5px;
			padding-right: 5px;
		}

	}

	.newsPan {
		padding-top: 50px;
		padding-bottom: 30px;
		text-align: center;
		.sliderPan{
			text-align: left;
		}
		.viewAllLink{
			position: static;
			border-radius: 50px;
			background-color: $blue;
			padding: 12px 22px;
			font-size: 14px;
			color: $white;
			transition: all .4s ease;
			text-transform: uppercase;
			margin: 35px auto 0;
			display: inline-block;
		}
	}

	.footerWrap{
		padding-top: 40px;
		padding-bottom: 10px;
		.col,
		[class*="col-"]{
			margin-bottom: 20px;
		}
	}

	.claimBannerPan{
		padding-top: 50px;
		padding-bottom: 20px;
		.container{
			h2{
				font-size: 26px;
				line-height: 30px;
			}
			.claimForm{
				padding: 25px;
				padding-bottom: 5px;
				.col,
				[class*="col-"]{
					padding-bottom: 20px;
				}
				.resultCol{
					padding-top: 0;
				}
			}
			.claimList{
				display: block;
				padding-bottom: 0;
				li{
					display: block;
					margin-bottom: 20px;
					border: 0;
					padding: 0;
					.claimIcon1,
					.claimIcon2,
					.claimIcon3{
						width: 50px;
						height: 50px;
						background-size: 35px;
					}
					.claimTxt{
						width: calc(100% - 70px);
						line-height: 18px;
					}
				}
			}
		}
	}

	.claimBodyPan{
		padding-top: 50px;
		.row{
			margin-bottom: 30px;
		}
		.claimImgPan{
			text-align: center;
			img{
				margin-bottom: 20px;
				max-width: 200px;
			}
			.counter{
				top: 110px;
				left: 50%;
				transform: translateX(-100%);
				&.right{
					left: 50%;
					right: auto;	
				}
			}

		}
		.findGemCol{
			padding-top: 50px;
			padding-bottom: 50px;
			.findGem{
				padding-top: 15px;
				.counter{
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}

	}

	.howWorksContainer{
		padding-top: 30px;
	}

	.howWorksPage{
		position: relative;
		.commonBanner{
			background-size: cover;
			.container{
				background-size: cover;
				min-height: 182px;
				height: 182px;
			}
		}
		.line{
			display: none;
		}
	}


	.modal-body{
		padding: 15px;
	}
	.modal-dialog{
		.modal-content{
			.modal-header{
				padding-top: 15px;
				padding-bottom: 15px;
				.modal-title, h4{
					font-size: 25px;
					line-height: 30px;
				}
			}
		}
	}


.paginationPan{

	.paginationSelect{
		text-align: center;
		padding-bottom: 15px;
	}
	.pagination{
		text-align: center;
	}
}


}
// End 767px to 300px


// Start below 991px
@media screen and (max-width:991px) {

	.stepBox{
		padding: 15px;
		height: 75px;
		background-color: $blue6;
		.stepIcon{
			font-size: 28px;
			color: $white;
			margin-right: 15px;
		}
		.stepTxt{
			font-size: 20px;
			line-height: 25px;
			color: $white;
			span{
				font-size: 14px;
				line-height: 18px;
			}
			&::before{
				display: none;
			}
		}
		&.explore,
		&.add{
			.stepIcon{
				color: $white;
				margin-top: -4px;
				&:before{
					color: $white;
				}
			}
		}
		&.register,
		&.explore,
		&.create,
		&.add{
			margin-bottom: 0;
			&::before{
				display: none;
			}
			&::after{
				display: none;
			}
		}

	}

	.howWorksContainer{
		.startedImg,
		.creatImg,
		.exploreImg,
		.shareImg{
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
			img{
				max-width: 60%;
			}
		}
		.startedTxt,
		.exploreTxt,
		.shareTxt,
		.creatTxt{
			padding-top: 30px;
			text-align: left;
			ul{
				li{
					background-position: 0 8px;
					padding-left: 30px;
					padding-right: 0;
				}
			}
		}
		.registerCol,
		.exploreCol,
		.shareCol,
		.createCol,
		.addCol{
			text-align: center;
			padding: 50px 0;
		}
		.exploreTxt,
		.shareTxt{
			order: 2;
		}
		.exploreImg,
		.shareImg{
			order: 1;
		}
	}

	.claimSearchPage{
		.searchHead{

		}
		.claimBodyPan{
			position: relative;
			overflow: hidden;
			.row{
				margin-bottom: 0;
				display: flex;
			}
			.searchLeftPan{
				width: 100%;
				.searchContent{
					height: 485px;
				}
			}
			.mapPan{
				height: 100%;
				position: absolute;
				top: 0;
				right: -88%;
				z-index: 99;
				width: 90%;
				transition: all .5s ease;
				.arrow{
					display: block;
					.fa-arrow-right{
						display: none;
					}
					.fa-arrow-left{
						display: block;
					}
				}
			}
		}
	}

	.searchResultOpen{
		.claimSearchPage{

			.claimBodyPan{
				.mapPan{
					right: 0;
					.arrow{
						display: block;
						.fa-arrow-right{
							display: block;
						}
						.fa-arrow-left{
							display: none;
						}
					}
				}

			}
		}
	}

	.registerForm{
		padding: 10px;
		padding-bottom: 20px;
		.formSection{
			background: url(../images/icon-gems.png) 0 4px/25px no-repeat;
			padding-left: 35px;
			padding-bottom: 20px;
			.sectionTitle{
				h3{
					font-size: 23px;
					line-height: 30px;
				}
				h4{
					font-size: 17px;
					line-height: 22px;
				}
			}
		}
		.form-control{
			font-size: 13px;
			height: 40px;
		}
	}

}
// End below 991px

// Start below 575px
@media screen and (max-width:575px) {
	.claimBodyPan{
		padding-top: 50px;
		.claimImg{
			order: 1;
		}
		.claimTxt{
			order: 2;
		}
	}

	.loginPan{
		width: 96%;
		margin: 50px auto;
		padding: 20px;
		&.loginPopup{
			padding: 10px;
		}
	}

	.errorPan{
		width: 96%;
		margin: 20px auto;
		padding: 10px;
		min-height: 50px;
		padding-top: 70px;
		.errorCircle{
			width: 100px;
			height: 100px;
			top: -20%;
			left: 50%;
			font-size: 30px;
			line-height: 100px;
			&:before{
				width: 40px;
				height: 60px;
				top: -5px;
				left: -42px;
			}
			&:after{
				width: 40px;
				height: 60px;
				bottom: -18px;
				right: -42px;
			}
		}
		h4{
			font-size: 25px;
			margin-bottom: 15px;
		}
		p{
			font-size: 14px;
		}
	}

	.claimSearchPage{
		.searchContent{
			padding-left: 10px;
			padding-right: 10px;
			ul{
				li{
					.searchImgPan{
						width: 100px;
						height: 100px;
						margin-right: 15px;
					}
					.searchConentPan{
						width: 60%;
						width: calc(100% - 115px);
						btn{
							padding-left: 12px;
							padding-right: 12px;
							font-size: 12px;
						}
					}
				}
			}

		}
		.mapPan{
			.arrow{
				padding-left: 10px;
				padding-right: 10px;
				left: -33px;
			}
		}
	}


}
// End below 575px