
@import'../../assets/style/variable';
@import '../../assets/style/font-icon/style.css';



// .providerPage{

	// .normalHeader{
	// 	display: none;
	// }

	.header{
		&.providerHeader{
			padding-top: 1px;
			padding-bottom: 0;
			display: block;
			position: static;
			.logo{
				width: 90px;
			}
			figure.logoDark, 
			figure.logoLight{
				display: block;
				margin-bottom: 0;
			}
			.topNav{
				display: flex;
			}
			.userPan{
				position: relative;
				.userImg{
					display: inline-block;
					vertical-align: top;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					overflow: hidden;
					margin-right: 10px;
					border: solid 2px $blue;
				}
				.userName{
					display: inline-block;
					vertical-align: top;
					font-size: 14px;
					line-height: 20px;
					font-weight: bold;
					margin-top: 9px;
				}
				.userDrop{
					position: absolute;
					top: 40px;
					right:0;
					background-color: $txtColor;
					width: 150px;
					text-align: left;
					padding:0;
					z-index: 9;
					&:after{
						bottom: 100%;
						right: 20px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(33, 37, 41, 0);
						border-bottom-color: #212529;
						border-width: 8px;
						margin-left: -8px;
					}
					a{
						display: block;
						color: $white;
						border-bottom: solid 1px $linkColor;
						padding: 5px 20px;
						font-size: 14px;
						&:last-child{
							border-bottom: 0;
						}
						&:hover{
							background-color: $linkColor;
						}
					}
				}
			}
			.topHead{
				background-color: $lightbgColor4;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.bottoHead{
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.toggleMenu{
				&.desktopMenu{
					display: block;
				}
				.dropMenu{
					top: 45px;
				}
			}
		}
	}

	.claimBannerPan{
		padding-top: 20px;
		padding-bottom: 20px;
	}


	.searchContent{
		.searchImgWrap{
			img{
				cursor: pointer;
			}
		}
		.searchConentPan{
			h4{
				cursor: pointer;
			}
		}
	}



// }

.paginationPan{
	padding-top: 15px;
	.paginationSelect{
		span{
			display: inline-block;
			margin-right: 10px;
		}
		select{
			display: inline-block;
			width: 70px;
		}
	}
	.pagination{
		display: block;
		li{
			display: inline-block;
			margin: 0 5px;
			a{
				display: inline-block;
				padding:0 10px;
				border-radius: 4px;
				background-color: $lightbgColor5;
				font-weight: bold;
				font-size: 14px;
			}
			&:hover{
				a{
					background-color: $blue7;
				}
			}
			&.active{
				a{
					background-color: $blue3;
					color: #fff;
				}
			}
		}
	}
}