@import 'variable';
@import 'font-icon/style.css';



body{
	font-family: $font1;
	font-size: 16px;
	line-height: 26px;
	color: $txtColor;
}
a{
	outline: none;
	transition: all .2s ease;
	img{
		border: 0;
	}
	&:hover{
		text-decoration: none;
		color: $black;
	}
}
button{
	outline: none !important;
	box-shadow: none !important;
	&:hover{
		outline: none;	
	}
}
h2{
	font-size: 50px;
	line-height: 60px;
	font-family: $font2;
	color: $titleColor;
	margin-bottom: 65px;
	text-align: center;
}
h3{
	font-size: 38px;
	line-height: 42px;
	font-family: $font2;
}
h4{
	font-size: 30px;
	line-height: 35px;
	color: $titleColor;
	font-family: $font2;
}
h5{
	font-size: 25px;
	line-height: 30px;
	color: $titleColor;
	font-family: $font2;
}

ul{
	padding:0 0 0 15px;
}


.btn{
	padding: 15px 30px;
	border-radius: 50px;
	background-color: $green;
	font-size: 16px;
	line-height: 20px;
	color: $white;
	transition: all .4s ease;
	text-transform: uppercase;
	cursor: pointer;
	&.btn-primary{
		border: 0;
	}
	&:hover{
		background-color: darken( $green, 20% );
		color: $white;
	}
	&.blue{
		background-color: $blue6;
		&:hover{
			background-color: darken( $blue6, 20% );
		}
	}
	&.small{
		padding: 10px 20px;
	}
	&.danger{
		background-color: $appBg;
	}
}
img{
	max-width: 100%;
	height: auto;
}

.form-control{
	border-radius: 0;
	box-shadow: none;
	&:focus{
		outline: none;
		box-shadow: none;
	}
	&:disabled{
		opacity: 0.5;
	}
}

.container{
	max-width: 1320px;
}

.slideItem{
	&:focus{
		box-shadow: none;
		border: 0;
		outline: none;
	}
}

/* Header Style Start */
.header{
	padding: 35px 0 30px;
	box-shadow: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .4s ease;
	z-index: 999;
	.logo{
		margin-right: auto;
		padding-top: 0;
		padding-bottom: 0;
		img{
			display: block;
		}
	}
	figure{
		margin-bottom: 0;
		&.logoDark{
			display: none;
		}
		&.logoLight{
			display: block;
		}
	}
	.topNav{
		font-size: 16px;
		line-height: 20px;
		display: none;
		li{
			margin: 0 12px;
			a{
				color: $linkColor;
				border-bottom: solid 1px $white;
				&:hover,
				&.active{
					border-bottom: solid 1px $linkColor;
				}
			}
		}
	}
	.toggleMenu{
		margin-left: 30px;
		display: none;
		position: relative;
		&.mobileMenu{
			display: none;
			.bars{
				display: block;
			}
			.close{
				display: none;
			}
		}
		i{
			font-size: 28px;
			cursor: pointer;
		}
		.dropMenu{
			position: absolute;
			top: 68px;
			right: -15px;
			background-color: $txtColor;
			width: 240px;
			text-align: left;
			padding: 30px 40px;
			z-index: 9;
			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
				li{
					color: $white;
					padding-bottom: 8px;
					font-size: 15px;
					a{
						color: $white;
						&:hover{
							color: $blue4;
						}
					}
				}
			}
		}
	}
}

.scrolled{
	.header{
		box-shadow: 0 .3rem 0.8rem rgba(0,0,0,.15);
		background-color: $white;
		figure{
			&.logoDark{
				display: block;
			}
			&.logoLight{
				display: none;
			}
		}
		.topNav{
			display: flex;
		}
		.toggleMenu{
			&.mobileMenu{
				display: none;
			}
			&.desktopMenu{
				display: block;
			}
		}
	}
}

.mobileSideMenu{
	position: absolute;
	top: 0;
	left: -80%;
	width: 80%;
	background-color: rgba(0,0,0,.9);
	transition: all .4s ease;
	padding: 10px 0 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
	z-index: 999;
	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		list-style: 20px;
		li{
			a{
				display: block;
				padding: 10px 30px;
				border-bottom: solid 1px $black;
				color: $white;
				&:hover{
					background-color: rgba(0,0,0,10);
				}
			}
		}
	}
}
.mobileMenuOpen{
	overflow: hidden;
	.header{
		.toggleMenu{
			&.mobileMenu{
				.bars{
					display: none;
				}
				.close{
					display: block;
				}
			}
		}
		.mobileSideMenu{
			left: 0;
		}
	}
}

.providerHeader{
	display: none;
}


/* Header Style End */


/* Banner Style Start */
.commonBanner{
	background: url(../images/claim-banner.jpg) 50% 100% no-repeat $bannerBg;
	min-height: 120px;
	.col,
	[class*="col-"]{
		margin-top: auto;
		margin-bottom: auto;
		h2{
			margin: 0;
		}
	}
	h2{
		color: #fff;
		font-size: 75px;
	}
}




/* Banner Style End */


/* App Panel Style End */
.appBg{
	background: url(../images/pink-bg.jpg) 50% 0 repeat-y $appBg;
	text-align: center;
	padding-top: 55px;
	padding-bottom: 55px;
	span, p{
		margin-right: 30px;
		font-size: 23px;
		color: $white;
		display: inline-block;
		margin-bottom: 0;
	}
	a{
		margin: 0 10px;
	}
}
/* App Panel Style End */

/* Footer Style Start */
.footerWrap{
	background-color: $footerBg;
	padding-top: 80px;
	padding-bottom: 60px;
	&.providerFooter{
		padding-top: 40px;
		padding-bottom: 30px;
	}
	h4{
		font-size: 22px;
		line-height: 25px;
		color: $white;
		background: url(../images/icon-gems.png) 0 0/25px no-repeat;
		padding-left: 35px;
		margin-bottom: 20px;
		display: inline-block;
	}
	h5{
		font-size: 15px;
		line-height: 16px;
		margin-bottom: 15px;
		color: $white;
	}
	p{
		font-size: 14px;
		line-height: 22px;
		color: $white;
	}
	ul{
		padding: 0;
		margin: 0;
		font-size: 14px;
		line-height: 16px;
		list-style-type: none;
		li{
			padding-bottom: 10px;
			a{
				color: $white;
				&:hover{
					text-decoration: none;
					color: $blue2;
				}
			}
		}
	}
	.socialIcon{
		margin-bottom: 15px;
		a{
			color: $white;
			margin-right: 15px;
			&:hover{
				color: $blue2;
			}
		}
		i{
			font-size: 17px;
		}
	}
	.appLinks{
		a{
			img{
				width: 130px;
				width: calc(38px + 6vw);
				margin-right: 10px;
				margin-bottom: 5px;
			}
		}
	}
}

/* Footer Style End */


/* claim page style */
.claimBannerPan{
	background: url(../images/claim-banner.jpg) 50% 100% no-repeat $bannerBg;
	//height: 70vh;
	position: relative;
	padding-top: 130px;
	padding-bottom: 30px;
	.container{
		h2{
			color: #fff;
			font-size: 40px;
			font-family: $font2;
			font-weight: 500;
			margin-bottom: 20px;
		}
		.claimForm{
			background-color: $blue3;
			padding: 40px;
			border-radius: 3px;
			margin-bottom: 40px;
			position: relative;
			.resultCol{
				padding-top: 15px;
				padding-bottom: 15px;
			}
			.form-control{
				height: 45px;
				border: solid 1px $blueBorder;
				background-color: $blue5;
				color: $white;
				margin-bottom: 6px;
				padding-left: 15px;
				padding-right: 15px;
				&::placeholder{
					color: $white;
				}
			}
			.btn{
				border-radius: 3px;
				padding-top: 11px;
				padding-bottom: 11px;
				background-color: $blue6;
				border: solid 1px $blue6;
				margin-bottom: 6px;
			}
			.helpTxt{
				color: $blue7;
				font-style: italic;
				display: block;
				a{
					font-style: normal;
					color: $blue6;
				}
			}
			.fa{
				position: absolute;
				top: 10px;
				right: 25px;
				font-size: 22px;
				color: $white;
			}
			p{
				color: $blue8;
				font-weight: 300;
				margin-bottom: 0;
				strong{
					font-weight: 500;
					color: $white;
				}
			}

			.loadingSpinner{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0.6;
			}
		}
		.claimList{
			padding: 0 0 50px 10px;
			margin: 0;
			list-style-type: none;
			display: table;
			table-layout: fixed;
			li{
				display: table-cell;
				padding: 0 18px;
				border-right: solid 1px #435773;
				&:last-child{
					border-right: 0;
				}
				.claimIcon1,
				.claimIcon2,
				.claimIcon3{
					width: 75px;
					height: 75px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 20px;
					border-radius: 50%;
					border: solid 1px #fff;
				}
				.claimIcon1{
					background: url(../images/claim-icon1.png) 50% 50% no-repeat;
				}
				.claimIcon2{
					background: url(../images/claim-icon2.png) 50% 50% no-repeat;
				}
				.claimIcon3{
					background: url(../images/claim-icon3.png) 50% 50% no-repeat;
				}
				.claimTxt{
					display: inline-block;
					vertical-align: middle;
					width: calc(100% - 100px);
					color: $white;
				}
			}
		}
	}
}

.claimBodyPan{
	padding-top: 50px;
	.container{
		max-width: 950px;
		margin: 0 auto;
	}
	&.claimMainPage{
		.col,
		[class*="col-"]{
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.claimImgPan,
	.findGem{
		position: relative;
		img{
			margin-bottom: 20px;
		}
		.counter{
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			background-color: $white;
			border-radius: 5px;
			position: absolute;
			top: 110px;
			left: 22px;
			font-family: $font2;
			font-weight: 600;
			font-size: 25px;

			color: $white;
			overflow: hidden;
			width:70px;
			height: 58px;
			&.right{
				left: auto;
				right: 22px;	
			}
			&.countStart{
				color: $txtColor2;
				.numbers {
					width: auto;
					white-space: nowrap;
					-webkit-animation: countNumber 0.7s;
					-webkit-animation-fill-mode: forwards;
					-webkit-animation-timing-function: steps(10);
					div{
						float: left;
						text-align: center;
						width: 70px;
						height: 58px;
						line-height: 58px;
						display: inline-block;
					}
				}
				@keyframes countNumber {
					0% {
						margin-left: 0px;
						text-shadow:1px 1px 10px $blue3;
					}
					100% {
						margin-left: -700px;
						text-shadow:1px 1px 10px $white;
					}
				}
			}

		}

	}
	.findGemCol{
		background-color: $lightbgColor5;
		padding-top: 120px;
		padding-bottom: 120px;
		text-align: center;
		.findGem{
			
			
			display: inline-block;
			color: $white;
			font-size: 20px;
			.link{
				border-radius: 30px;
				display: block;
				padding: 20px 40px;
				color: $white;
				background-color: $blue;
				cursor: pointer;
				&:hover{
					background-color: $blue6;
				}
			}
			.counter{
				top: -32px;
				left: -42px;
			}
		}
	}

}




.slick-arrow{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	z-index: 99;
	&:before{
		display: none;
	}
	&:after{
		font-family: FontAwesome;
		position:absolute;
		left:10px;
		top:50%;
		transform: translateY(-50%);
		font-size: 40px;
		color: $titleColor;
	}
	&.slick-prev{
		left: 15px;
		&:after{
			content: "\f104";
		}
	}
	&.slick-next{
		right: 15px;
		&:after{
			content: "\f105";
		}
	}
}
.slick-dots{
	position: absolute;
	bottom: 10px;
	z-index: 99;
	li{
		button{
			&:before{
				font-size: 12px;
			}
		}
	}
}

.gemsDetailsContentPan{
	padding-top: 100px;
	padding-bottom: 100px;
	.addressPan{
		i{
			float: left;
			margin-right: 10px;
			margin-top: 7px;
			font-size: 16px;
		}
		p{
			float: left;
			overflow: hidden;
		}
	}
	.gemsDetailSlider{
		position: relative;
		.slick-arrow{
			background-color: rgba(255,255,255,.50);
			border-radius: 50%;
			width: 50px;
			height: 50px;
			top:45%;
			&:after{
				font-family: FontAwesome;
				position:absolute;
				left:55%;
				top:50%;
				transform: translateX(-50%);
				font-size: 40px;
				color: $titleColor;
			}
			&.slick-prev{
				&:after{
					left:50%;
				}
			}
		}
	}

}

.contentPan{
	padding-top: 100px;
	padding-bottom: 100px;
}

.starPan{
	margin-bottom: 25px;
	i{
		font-size: 22px;
		color: $txtColor2;
		margin: 0 2px;
		&.active{
			color: $yellow;
		}
	}
	span{
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
	}
}

.claimSearchPage{
	.claimBodyPan{
		// height: 878px;
		// overflow: hidden;
		.container-fluid{
			padding-left: 0;
			padding-right: 0;
		}
		.mapRow{
			//display: table;
			width: 100%;
		}
	}
	.searchHead{
		background-color: $lightbgColor4;
		padding: 25px 30px 5px;
		height: 140px;
		position: relative;
		h3{
			margin-bottom: 0;
		}

	}
	.searchFoot{
		background-color: $lightbgColor4;
		padding: 15px 30px 10px;
	}
	.searchLeftPan{
		box-shadow: 5px 0 5px -2px #b4b4b4;
		z-index: 99;
		padding-left: 0;
		padding-right: 0;
		background-color: $white;
		width: 40%;
		//display: table-cell;
		display: inline-block;
		vertical-align: top;
		p{
			margin-bottom: 5px;
		}
	}
	.searchContent{
		padding: 0 30px;
		height: 505px;
		ul{
			padding: 0;
			margin: 0;
			li{
				list-style-type: none;
				padding-top: 30px;
				padding-bottom: 30px;
				border-bottom: solid 1px $borderColor2;
				.searchImgPan{
					display: inline-block;
					vertical-align: top;
					width: 156px;
					height: 156px;
					margin-right: 20px;
					text-align: center;
					
					h5{
						border: solid 1px #ccc;
						height: 100%;
						font-size: 18px;
						color: $txtColor2;
						font-family: $font1;
						line-height: 156px;
					}
					.searchImgWrap{
						border-radius: 5px;
						display: inline-block;
						img{
							max-width: 100%;
							max-height: 156px;
						}
					}
				}
				.searchConentPan{
					padding-right: 0;
					display: inline-block;
					vertical-align: top;
					width: calc(100% - 180px);
					h4{
						font-size: 17px;
						line-height: 22px;
						/*color: $blue6;*/
						color: $txtColor2;
						margin-bottom: 8px;
					}
					p{
						font-size: 14px;
						line-height: 22px;
						color: $txtColor2;
					}
					.likesPan{
						p{
							display: inline-block;
							vertical-align: top;
							margin-right: 10px;
							padding-right: 10px;
							margin-bottom: 8px;
							position: relative;
							&:after{
								content: "";
								border-right: solid 1px $txtColor2;
								position: absolute;
								top: 0;
								right: 0;
								height: 100%;
								width: 1px;
							}
							strong{
								color: $blue9;
							}
							&:last-child{
								margin-right: 0;
								padding-right: 0;
								&:after{
									display: none;
								}
							}
						}
					}
					.btn{
						padding: 8px 25px;
						background-color: $blue6;
						border: solid 1px $blue6;
						font-size: 14px;
						line-height: 18px;
						font-weight: 600;
						text-transform: uppercase;
						display: inline-block;
						margin-top: 10px;
						&.claimed{
							background-color: $white;
							color: $blue6;
						}
					}
				}
				&:hover{
					.searchImgPan{
						.searchImgWrap{
							box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
						}
					}
					.searchConentPan{
						h4{
							color: $blue6;
						}
					}
					.btn{
						background-color: $blue5;
						border: solid 1px $blue5;
					}
				}
				&:last-child{
					border-bottom: 0;
					margin-bottom: 0;
				}
			}
		}

	}

	.mapPan{
		position: relative;
		//padding-bottom: 65%; // This is the aspect ratio
		height: 0;
		padding-left: 0;
		padding-right: 0;
		width: 60%;
		//display: table-cell;
		display: inline-block;
		vertical-align: top;
		.arrow{
			position: absolute;
			top: 0;
			left: -43px;
			display: block;
			padding: 10px 14px;
			background-color: $yellow;
			color: $txtColor;
			font-size: 18px;
			box-shadow: 5px 5px 5px -2px #b4b4b4;
			cursor: pointer;
			display: none;
			&:hover{
				color: $blue;
			}
		}
		iframe{
			border: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
		.mapWrap{
			top: 0;
			bottom: 0;
			position: absolute;
			height: 700px;
			width: 100%;
			.gm-style{
				.gm-style-iw-d{
					//overflow: hidden !important;
					.row{
						margin-left: 0;
						margin-right: 0;
						.col,
						[class*="col-"]{
							padding-left: 0;
							padding-right: 0;
						}
					}
				}
				
			}
		}
		
	}
}

.resetPasswordPage{
	
}

.loginPan{
	border: solid 1px $borderColor2;
	width: 500px;
	margin: 100px auto;
	padding: 40px;
	text-align: center;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	&.loginPopup{
		margin: 0 auto;
		box-shadow: none;
		width: 100%;
		padding:0 20px;
		border: 0;
		.loadingSpinner{
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	h3, h4{
		color: $blue6;
		font-weight: 400;
	}
	p{
		font-weight: 300;
	}

	.form-group{
		position: relative;
		margin: 30px 0 20px;
		.form-control{
			font-size: 15px;
			padding: 10px 10px 10px 5px;
			display: block;
			width: 100%;
			border: none;
			border-bottom: 1px solid $lightTxtColor;
			color: $txtColor2;
			&:focus,
			&:valid{
				&~label{
					top: -20px;
					font-size: 12px;
					color: $blue6;
				}
			}
			&:focus{
				border-bottom: 1px solid $blue6;
			}
		}
		label {
			color: $txtColor2;
			font-size: 15px;
			font-weight: normal;
			position: absolute;
			pointer-events: none;
			left: 5px;
			top: 10px;
			transition: 0.2s ease all;
			-moz-transition: 0.2s ease all;
			-webkit-transition: 0.2s ease all;
		}
	}
	.btn{
		margin-top: 20px;
		padding: 10px 30px;
		background-color: $blue6;
		&:focus,
		&:hover{
			background-color: $blue5;
		}
	}

}


.modal-dialog{
	.modal-content{
		border-radius: 0;
		.modal-header{
			background-color: $lightBlueBg1;
			border: 0;
			align-items: center;
			justify-content: center;
			padding-top: 25px;
			padding-bottom: 25px;
			.modal-title,
			h2{
				font-size: 30px;
				line-height: 34px;
				font-size: $font1 !important;
				text-align: center;
				width: 100%;
				margin-bottom: 0;
				font-weight: normal;
			}
		}
	}
}

.form-control{
	border: 0;
	border-bottom: solid 1px $borderColor2;
	padding-left: 0;
	padding-right: 0;
	font-size: 14px;
	height: 40px;
	color: $txtColor2;
	font-family: $font1;
	transition: all .4s ease;
	width: 100%;
	&::placeholder{
		color: $txtColor2;
		text-transform: uppercase;
		font-family: $font1;
	}
	&:focus{
		border-bottom: solid 1px $blue8;
	}
	&:disabled{
		padding-left: 10px;
		padding-right: 10px;
		color: $txtColor;
		font-size: 15px;
		opacity: 0.8;
	}
}
input[type="number"].form-control{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.registerForm{
	padding: 50px;
	.formSection{
		background: url(../images/icon-gems.png) 0 4px/35px no-repeat;
		padding-left: 55px;
		padding-bottom: 50px;
		.sectionTitle{
			margin-bottom: 30px;
		}
	}
	h3{
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 0;;
	}
	h4{
		font-size: 20px;
		line-height: 25px;
		font-weight: 500;
		i{
			margin-right: 10px;
		}
	}
	.col,
	[class*="col-"]{
		padding-bottom: 20px;
	}
	.cvv{
		padding-right: 60px;
		&:after{
			content: "";
			position: absolute;
			top: 5px;
			right: 17px;
			width: 33px;
			height: 23px;
			background: url(../images/cvv.jpg) 0 0 no-repeat;
		}
	}
	.btnPan{
		text-align: center;
	}
	.form-group{
		margin-bottom: 0;
	}
}

.errorMessage{
	color: $appBg;
}
.successMessage{
	color: $green;
}
.invalidUrl{
	color: $appBg;
	font-size: 20px;
	margin: 100px auto;
    padding: 40px;
    text-align: center;
}
.errorMsg {
    font-size: 14px;
    color: #e15050;
    text-align: left;
    display: block;
    position: absolute;
    left: 0;
    margin-top: 1px;
}



.howWorksPage{
	position: relative;
	.commonBanner{
		background: url(../images/works-banner-repeat.jpg) 50% 0 repeat-x $bannerBg;
		.container{
			background: url(../images/works-banner.jpg) 50% 0 no-repeat;
			min-height: 587px;
			display: flex;
			justify-content: center;
			.col,
			[class*="col-"]{
				align-self:center
			}
		}
	}
	.line{
		background: url(../images/line.png) 50% 0/100% no-repeat;
		//height: 854px;
		position: absolute;
		top: 0;
		left: 50%;
		width: 90%;
		max-width: 1320px;
		height: 100%;
		max-height: 760px;
		transform: translateX(-50%);
	}
}

.stepBox{
	display: inline-block;
	border: solid 1px $blue6;
	border-radius: 5px;
	padding: 25px;
	background-color: $white;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	text-align: left;
	position: relative;
	height: 98px;
	min-width: 200px;
	.stepIcon{
		display: inline-block;
		vertical-align: top;
		font-size: 32px;
		color: $txtColor2;
		margin-top: 6px;
		margin-right: 18px;
	}
	.stepTxt{
		display: inline-block;
		vertical-align: top;
		font-size: 22px;
		line-height: 30px;
		font-family: $font2;
		text-transform: uppercase;
		span{
			display: block;
			font-size: 16px;
			line-height: 20px;
			text-transform: capitalize;
		}
	}
	&.register{
		margin-bottom: 100px;
		// &:after{
		// 	content: "";
		// 	border-left: solid 1px $blue6;
		// 	width: 1px;
		// 	height: 100px;
		// 	position: absolute;
		// 	top: 98px;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }
		.stepTxt{
			// &:before{
			// 	content: "";
			// 	width: 56px;
			// 	height: 56px;
			// 	background: url(../images/gems-group1.png) 50% 0/100% no-repeat;
			// 	position: absolute;
			// 	top:120px;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// }
		}

	}
	&.explore{
		.stepIcon{
			font-size: 50px;
			color: $txtColor2;
			margin-top: 0;
			&:before{
				color: $txtColor2;
			}
		}
		// &::before{
		// 	content: "";
		// 	width: 411px;
		// 	height: 92px;
		// 	background: url(../images/curve-line1.png) 50% 0/100% no-repeat;
		// 	position: absolute;
		// 	top: -98px;
		// 	left: 50%;
		// }
		// &::after{
		// 	content: "";
		// 	width: 411px;
		// 	height: 92px;
		// 	background: url(../images/curve-line2.png) 50% 0/100% no-repeat;
		// 	position: absolute;
		// 	bottom: -98px;
		// 	left: 50%;
		// }
	}
	&.create{
		.stepIcon{
			font-size:38px;
			margin-top: 3px;
		}
		// &::before{
		// 	content: "";
		// 	width: 411px;
		// 	height: 92px;
		// 	background: url(../images/curve-line2.png) 50% 0/100% no-repeat;
		// 	position: absolute;
		// 	top: -98px;
		// 	right: 50%;
		// }
		// &::after{
		// 	content: "";
		// 	width: 411px;
		// 	height: 92px;
		// 	background: url(../images/curve-line1.png) 50% 0/100% no-repeat;
		// 	position: absolute;
		// 	bottom: -98px;
		// 	right: 50%;
		// }
	}
	&.add{
		.stepIcon{
			font-size: 50px;
			color: $txtColor2;
			margin-top: 0;
			&:before{
				color: $txtColor2;
			}
		}
		// &::before{
		// 	content: "";
		// 	width: 411px;
		// 	height: 92px;
		// 	background: url(../images/curve-line1.png) 50% 0/100% no-repeat;
		// 	position: absolute;
		// 	top: -98px;
		// 	left: 50%;
		// }
		// &::after{
		// 	content: "";
		// 	width: 411px;
		// 	height: 92px;
		// 	background: url(../images/curve-line2.png) 50% 0/100% no-repeat;
		// 	position: absolute;
		// 	bottom: -98px;
		// 	left: 50%;
		// }
	}
}

.howWorksContainer{
	padding-top: 160px;
	z-index: 9;
	position: relative;

	// SVG Animation Start
	.lineDraw {
		fill: none;
		stroke: $blue6;
		stroke-miterlimit: 1;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
	}
	@-webkit-keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}

	@keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}
	// SVG Animation End

	.registerCol{
		text-align: center;
		position: relative;
		.line1{
			border-left: solid 1px $blue6;
			width: 1px;
			height: 1px;
			position: absolute;
			top: 98px;
			left: 50%;
			transform: translateX(-50%);
			transition: all .9s ease;
			&:before{
				content: "";
				width: 56px;
				height: 50px;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url(../images/gems-group1.png) 0 0/100% no-repeat;
				opacity: 0;
				transition: all .9s ease;
				transition-delay: 0.9s;
			}
			&.show{
				height: 100px;
				&:before{
					top: 50%;
					opacity: 10;
				}
			}
		}
	}
	.exploreCol{
		position: relative;
		.line2{
			width: 430px;
			height: 96px;
			position: absolute;
			top: -8px;
			left: 210px;
			// background-color: tomato;
			&:after{
				content: "";
				width: 59px;
				height: 52px;
				position: absolute;
				top: 44px;
				right: 0%;
				transform: translate(-50%, -50%);
				background: url(../images/gems-group3.png) 0 0/100% no-repeat;
				opacity: 0;
				transition: all 2s ease;
				transition-delay: 1s;
			}
			&.show{
				.lineDraw {
					-webkit-animation: draw 9s linear forwards;
					animation: draw 9s linear forwards;
				}
				&:after{
					right: 40%;
					opacity: 10;
				}
			}
		}
		.line3{
			width: 430px;
			height: 96px;
			position: absolute;
			bottom: -8px;
			left: 210px;
			// background-color: tomato;
			&.show{
				.lineDraw {
					-webkit-animation: draw 9s linear forwards;
					animation: draw 9s linear forwards;
					animation-delay: 0.8s;
				}
			}
		}
	}
	.createCol{
		position: relative;
		.line4{
			width: 430px;
			height: 96px;
			position: absolute;
			top: -8px;
			right: 250px;
			// background-color: tomato;
			&.show{
				.lineDraw {
					-webkit-animation: draw 9s linear forwards;
					animation: draw 9s linear forwards;
				}
			}
		}
		.line5{
			width: 430px;
			height: 96px;
			position: absolute;
			bottom: -8px;
			right: 250px;
			// background-color: tomato;
			&:after{
				content: "";
				width: 53px;
				height: 59px;
				position: absolute;
				top: 44px;
				right: 0%;
				transform: translate(-50%, -50%);
				background: url(../images/gems-group4.png) 0 0 no-repeat;
				opacity: 0;
				transition: all 2s ease;
				transition-delay: 1s;
			}
			&.show{
				.lineDraw {
					-webkit-animation: draw 9s linear forwards;
					animation: draw 9s linear forwards;
					animation-delay: 0.8s;
				}
				&:after{
					right: 40%;
					opacity: 10;
				}
			}
		}
	}
	.shareCol{
		position: relative;
		.line6{
			width: 430px;
			height: 96px;
			position: absolute;
			top: -8px;
			left: 210px;
			// background-color: tomato;
			&:after{
				content: "";
				width: 59px;
				height: 52px;
				position: absolute;
				top: 44px;
				right: 0%;
				transform: translate(-50%, -50%);
				background: url(../images/gems-group3.png) 0 0/100% no-repeat;
				opacity: 0;
				transition: all 2s ease;
				transition-delay: 1s;
			}
			&.show{
				.lineDraw {
					-webkit-animation: draw 9s linear forwards;
					animation: draw 9s linear forwards;
				}
				&:after{
					right: 40%;
					opacity: 10;
				}
			}
		}
		.line7{
			width: 430px;
			height: 96px;
			position: absolute;
			bottom: -8px;
			left: 210px;
			// background-color: tomato;
			&.show{
				.lineDraw {
					-webkit-animation: draw 9s linear forwards;
					animation: draw 9s linear forwards;
					animation-delay: 0.8s;
				}
			}
		}
	}





	.startedImg{
		text-align: right;
		padding-right: 75px;
	}
	.startedTxt{
		padding-top: 30px;
	}
	.exploreCol,
	.shareCol{
		text-align: left;
		padding: 88px 120px;
	}
	.exploreTxt,
	.shareTxt{
		text-align: right;
		padding-right: 30px;
		padding-top: 40px;
		ul{
			li{
				background-position: 100% 8px;
				padding-left: 0;
				padding-right: 30px;
			}
		}
	}
	.exploreImg,
	.shareImg{
		padding-left: 40px;
	}
	.createCol{
		text-align: right;
		padding: 88px 150px;
	}
	.creatImg{
		text-align: right;
		padding-right: 65px;
	}
	.creatTxt{
		padding-top: 40px;
	}

	h3{
		margin-bottom: 20px;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		li{
			background: url(../images/bullet-icon.png) 0 8px no-repeat;
			padding-left: 40px;
			padding-bottom: 20px;
		}
	}
}

.paginationWrap{
	text-align: right;
	.paginationTxt{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		margin-right: 5px;
	}
	.paginationBtn{
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 3px;
		i{
			font-size: 20px;
		}
		&:hover{
			background-color: #d3dfed;
		}
		&.disable{
			opacity: 0.5;
		}
	}
}

.loaderImg{
	
}

.cursorPointer{
	cursor: pointer;
}

.google-places-autocomplete{
	position: relative;
	.locationDrop{
		position: absolute;
		top: 44px;
		left: 0;
		width: 100%;
		background-color: $blue5;
		border: solid 1px $blueBorder;
		color: $white;
		padding: 10px;
		z-index: 99;
	}
	.loadingSpinner{
		position: absolute;
		top: 0px !important;
		right: 8px !important;
		left: auto !important;
		transform: none !important;
		opacity: 10 !important;
		width: 23px;
		z-index: 99;
	}
}

.errorPan{
	border: solid 1px $borderColor2;
	width: 500px;
	margin: 100px auto;
	padding: 40px;
	text-align: center;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);	
	position: relative;
	min-height: 200px;
	padding-top: 90px;
	.errorCircle{
		width: 150px;
		height: 150px;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);	
		border: solid 1px $borderColor2;
		border-radius: 50%;
		position: absolute;
		top: -40%;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: $white;
		font-size: 50px;
		line-height: 150px;
		font-family: $font2;
		&:before{
			content: "";
			background: url(../images/gems-group2.png) 0 0/100% no-repeat;
			width: 56px;
			height: 60px;
			display: block;
			position: absolute;
			top: -5px;
			left: -46px;
		}
		&:after{
			content: "";
			background: url(../images/gems-group2.png) 0 0/100% no-repeat;
			width: 56px;
			height: 60px;
			display: block;
			position: absolute;
			bottom: -20px;
			right: -42px;
		}
	}
	h4{
		font-family: $font3;
		color: $blue;
		font-size: 30px;
		margin-bottom: 20px;
	}
	p{
		font-size: 16px;
	}
}

// .claimGemPage {
//   scroll-behavior: smooth;
// }



	#star-svg {
		position: absolute;
		top: 0%;
		left: 50%;
		width: 1000px;
		height: 3150px;
		transform: translateX(-50%);
	}

.providerDetails{
	padding-bottom: 40px;
	.carousel{
		.carousel-control-prev, 
		.carousel-control-next{
				width: 35px;
				height: 35px;
				background-color: #000;
				top: 50%;
				transform: translateY(-50%);

			.carousel-control-prev-icon, 
			.carousel-control-next-icon{
				width: 20px;
				height: 20px;
			}
		}

	}
	.providerTxt{
		font-size: 15px;
	}
}

.tagList{
	padding-bottom: 15px;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			border-radius: 4px;
			border: solid 1px $blue;
			display: inline-block;
			padding: 2px 7px;
			font-size: 13px;
			line-height: 16px;
			margin-right: 5px;
			margin-bottom: 5px;
			background-color: $blue8;
		}
	}
}

.addressPan{
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{
			padding-bottom: 5px;
			padding-left: 20px;
			position: relative;
			font-size: 15px;
			i{
				margin-right:8px;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 13px;
				top: 7px;
			}
		}
	}
}

.searchBox{
	.searchWrap{
		position: relative;
		display: inline-block;
		vertical-align: top;
		input[type="text"]{
			float: left;
			width: 300px;
			border: solid 1px $blue4;
			height: 48px;
			padding-left: 10px;
			padding-right: 10px;
		}
		button{
			float: left;
			border: 0;
			background-color: $white;
			color: $blue5;
			width: 40px;
			height: 48px;
			border: solid 1px $blue4;
			border-left:0;
			&:hover{
				background-color: $lightBgColor3;
			}
		}
	}
	.refreshIcon{
		display: inline-block;
		vertical-align: top;
		margin: 11px 0 0 15px;
	}
}

.tableBox{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.table{
	margin-bottom: 0;
	th{
		background-color: $blue2;
		color: $white;
		padding:15px 10px;
		font-weight: normal;
		font-size:14px;	
		line-height: 20px;
		vertical-align: top !important;
	}
	tr{
		&:nth-child(even){
			background-color: $lightBlueBg1;
		}
	}
	td{
		padding:10px;
		font-size:14px;
		border-bottom: solid 1px #e2e2ff;
		.fa{
			margin: 0 5px;
		}
		&.actionTd{
			.fa{
				color: $txtColor2;
				cursor: pointer;
			}
		}

	}
}

.modal-body{
	padding: 50px;
	.loadingSpinner{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
.couponDetails{
	table{
		border-top: solid 1px #e2e2ff;
		width: 100%;
		tr{
			&:nth-child(odd){
				background-color: $lightBgColor;
			}
		}
		td{
			padding: 10px;
			border-bottom: solid 1px #e2e2ff;
		}
	}
	.form-group{
		margin-bottom:30px;
		label{
			display: inline-block;
			vertical-align: top;
			width: 150px;
			margin-top: 5px;
			margin-bottom: 0;
		}
		.form-control{
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 150px);
			padding: 20px;
		}
		select.form-control{
			padding: 0;
			height: 42px;
		}
		.react-datepicker-wrapper{
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 150px);
		}
		.errorMsg{
			margin-left: 165px;
		}
	}
}

.react-datepicker-wrapper{
	.form-control{
		width: 100% !important;
	}
}

.confirmTxt{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	font-weight: bold;
}