// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import '../fonts/fonts';

// $font1: 'Manrope', sans-serif;
// $font2: 'Poppins', sans-serif;

$font1: 'proxima_novaregular', sans-serif;
$font2: 'proxima_novabold', sans-serif;
$font3: 'proxima_novathin', sans-serif;
$font4: 'proxima_novaextrabold', sans-serif;


$white: #ffffff;
$black: #000000;

$blue: #265abf;
$blue2: #3d73dd;
$blue3: #265abf;
$blue4: #7fa6f1;
$blue5: #0c53ad;
$blue6: #3094ff;
$blue7: #9ac1f1;
$blue8: #a8cbfb;
$blue9: #125dbb;
$blueBorder: #3080e5;
$darkBlue: #0f2146;
$yellow:#ffd14e;
$linkColor: #111313;
$titleColor: #1b1b1b;
$txtColor: #212529;
$txtColor2: #525252;
$lightTxtColor:#848383;
$lightTxtColor: #8b8b8b;
$green: #59b973;
$appBg: #ff5c5c;
$iconColor: #707070;
$borderColor: #c5c9cd;
$borderColor2: #e5e5e5;
$lightBgColor: #fafafa;
$lightBgColor2: #e9edf1;
$lightBgColor3: #eef1f4;
$lightbgColor4: #f2f8ff;
$lightbgColor5: #f5f6f8;
$lightBlueBg1: #f4f7fa;
$footerBg: #212529;
$bannerBg: #092242;