@font-face {
  font-family: 'gems';
  src:  url('gems.eot?1f8y0q');
  src:  url('gems.eot?1f8y0q#iefix') format('embedded-opentype'),
    url('gems.ttf?1f8y0q') format('truetype'),
    url('gems.woff?1f8y0q') format('woff'),
    url('gems.svg?1f8y0q#gems') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gems-"], [class*=" gems-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gems' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gems-edit:before {
  content: "\e90a";
}
.gems-add:before {
  content: "\e90b";
  color: #134563;
}
.gems-compass:before {
  content: "\e90c";
  color: #929292;
}
.gems-add-friend:before {
  content: "\e900";
}
.gems-binoculars:before {
  content: "\e901";
}
.gems-chat:before {
  content: "\e902";
}
.gems-chemistry:before {
  content: "\e903";
}
.gems-conversation:before {
  content: "\e904";
}
.gems-diamond:before {
  content: "\e905";
}
.gems-followers:before {
  content: "\e906";
}
.gems-login:before {
  content: "\e907";
}
.gems-pin:before {
  content: "\e908";
}
.gems-share:before {
  content: "\e909";
}
